/* login page */

.login-page {
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-logo {
    display: flex;
    justify-content: center;
}

.login-logo img {
    width: 200px;
}

/* login form */

.login-input-wrapper {
    background-color: #282828;
    padding: 15px;
    margin: 15px 0;
    display: flex;
}

.login-input {
    background: none;
    border: none;
    color: #fff;
}

.icon {
    width: 35px;
}
