.new-post-page {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.product-image-wrapper {
    background-color: #e6e6e6;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    text-transform: uppercase;
    font-size: 9pt;
    letter-spacing: 1pt;
    margin-bottom: 20px;
}

.product-input-wrapper {
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 15px;
}

.product-input {
    background: none;
    border: none;
    font-size: 10pt;
    padding: 10px 0;
    width: 100%;
}